@{
    ViewData["Title"] = "Local Functions";
    List<Member> members = new List<Member>(); 

    for(int i=0; i<15; i++ )
    {
        members.Add(new Member
                {
                    Name = NameData.GetFullName(),

                    Birth = NumberData.GetNumber(1950, 2004),

                    HasJob = BooleanData.GetBoolean(),

                    City = PlaceData.GetCity(),

                    Country = PlaceData.GetCountry(),

                });
    }
    // Void olmadığı için çağrılırken direkt yazılır
    int Age(int birthYear)
    {
        return (DateTime.Now.Year - birthYear);
    }

    // void olduğu için süslü parantez içinde yazılır 
    void RenderJobIcon(Boolean hasJob) // html kod yazdıracaksak void kullanırız
    {
        <span>
         <i class="fa @(hasJob ? "fa-check text-success" : "fa-times text-danger")"></i>
        </span>
    }

    void RenderCity(string city)
    {
        <div style="cursor:pointer" onclick="toastr.info('Selected city is <b>@city</b>','City Info')">@city</div>
    }

}

<div class="row mb-4" >
    <div class="col">
        <h5>Local Functions</h5>
    </div>
</div>

<table class="table table-hover table-bordered table-sm">
    <thead>
        <tr>
            <th>Name</th>
            <th>Birth</th>
            <th>Age</th>
            <th>Has Job</th>
            <th>City</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var member in members)
        {
            <tr>
                <td>@member.Name</td>
                <td>@member.Birth</td>
                <td>@Age(member.Birth)</td> 
                <td>@{RenderJobIcon(member.HasJob);}</td>
                <td>@{RenderCity(member.City);}</td>
                <td>@member.Country</td>
            </tr>
        }
    </tbody>
</table>